@import "./leftcontainer.css";
@import "./rightcontainer.css";
@import "./filters.css";

.invisible {
    display: none !important
}

.largeContainer {
    display: flex;
    flex-flow: row nowrap;
}

.pageHeader {
    font-size: 3em;
    text-align: center;
    margin: 1em
}

.noteFormContainer {
    text-align: center;
}

body {
    background-image: url("https://cdn.hipwallpaper.com/i/59/17/RU4IqL.jpg");
    position: relative;
}




