.rightContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 2em;
}

.note {
    border: solid black 1px;
    width: 10em;
    height: 12em;
    margin: 1em;
    padding: .3em;
    background-color: rgb(145, 240, 145,.5);

}

.notesContainer {
}